/* цвет основного текста #434455;
вторичный цвет текста #2E2F42;
белый #FFFFFF;
акцент #4D5AE5; 
Вторичный цвет фона #F4F4FD;
#E7E9FC;
*/

:root {
	--primary-text-color: #434455;
	--title-text-color: #2E2F42;
	--accent-color: #4D5AE5;
	--primary-white-color: #FFFFFF;
	--secondary-white-color: #F4F4FD;
	--footer-white-color: #E7E9FC;

	--main-font-family: Roboto,
		sans-serif;
	--main-font-size: 16px;
	--main-line-height: 1.5;
	--section-title-font-size: 36px;
	--section-title-line-height: 1.11;
	--title-font-size: 20px;
	--title-line-height: 1.2;
	--main-letter-spacing: 0.02em;
	--btn-letter-spacing: 0.04em;
}

.list {
	list-style: none;
}

.secret-name {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}

body {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
	letter-spacing: var(--main-letter-spacing);
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 1158px;

	outline: 2px solid tomato;
}

/* Logo */
.logo,
.footer-logo {
	color: var(--title-text-color);
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
}

.logo:hover,
.logo:focus,
.footer-logo:hover,
.footer-logo:focus {
	color: var(--accent-color);
}

.logo-part {
	color: var(--accent-color);
}

/* Page header */
.page-header {

}

/* Site nav */

.site-nav .link {
	color: var(--title-text-color);
	font-weight: 600;
	text-decoration: none;
}

.site-nav .link:hover,
.contacts-link:hover,
.site-nav .link:focus,
.contacts-link:focus {
	color: var(--accent-color);
}

.contacts-link {
	text-decoration: none;
	color: var(--primary-text-color)
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* Index.html */

/* Hero */

.hero {
	background-color: var(--title-text-color);
	text-align: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 48px;
	color: var(--primary-white-color);
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
}

/* Section */

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section.no-toppadding {
	padding-top: 0;
}

.section-title {
	color: var(--title-text-color);
	font-weight: 600;
	font-size: var(--section-title-font-size);
	line-height: var(--section-title-line-height);
	text-align: center;
	margin-bottom: 72px;
}

/* Features, Team, Examples */

.descr-list {
	width: 264px;
}

.descr-list .title,
.team-list .title,
.work-list .title {
	color: var(--title-text-color);
	font-weight: 600;
	font-size: var(--title-font-size);
	line-height: var(--title-line-height);
	margin-bottom: 8px;
}

.filter {
	padding-top: 96px;
	padding-bottom: 72px;
}

.team {
	background-color: var(--secondary-white-color);
}

.card {
	background-color: var(--primary-white-color);
	width: 264px;
	outline: 2px solid tomato;
}

.card>p,
.work-list p {
	padding-bottom: 32px;
}

.image {
	margin-bottom: 32px;
}

/* Button */

.button {
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: var(--title-text-color);
	background-color: var(--primary-white-color);
	cursor: pointer;
	font-weight: 600;
	letter-spacing: var(--btn-letter-spacing);
}

.button.primary {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 16px 32px;
}

.button.primary {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.button.secondary {
	color: var(--accent-color);
	background-color: var(--secondary-white-color);
	border-color: var(--footer-white-color);
}

.button.primary:hover,
.button.primary:focus {
	color: var(--accent-color);
	background-color: var(--secondary-white-color);
	border-color: var(--footer-white-color);
}

.button.secondary:hover,
.button.secondary:focus {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

/* Footer */

.footer-logo {
	display: inline-block;
	color: var(--secondary-white-color);
	margin-bottom: 16px;
	margin-top: 100px;
}

.footer {
	background-color: var(--title-text-color);
}

.footer .text {
	color: var(--footer-white-color);
	padding-bottom: 100px;
}